@use "sass:map";
@use "sass:list";
@use "variables" as *;

@function spacing($space) {
  $space: #{$space};

  @if map.has-key($spacing, $space) {
    @return map.get($spacing, $space);
  } @else {
    @error "Unknown spacing `#{$space}`.";
  }
}

@function color($color, $grade: 500) {
  @if map.has-key($colors, $color) {
    @if map.has-key($colors, $color, $grade) {
      @return map.get($colors, $color, $grade);
    } @else {
      @error "Unknown color grade `#{$grade}` for `#{$color}`.";
    }
  } @else {
    @error "Unknown color `#{$color}`.";
  }
}

@mixin text-size($size: 'base') {
  $size: #{$size};

  @if map.has-key($text-sizes, $size) {
    $text-size: map.get($text-sizes, $size);
    font-size: list.nth($text-size, 1);
    line-height: list.nth($text-size, 2);
  } @else {
    @error "Unknown text size `#{$size}`.";
  }
}
