@tailwind base;
@tailwind components;
@tailwind utilities;

@import "keyframes.css";

@layer components {
  .hero-gradient {
    background: linear-gradient(107.67deg, #3220ff 0%, rgba(17,31,0,0.47) 99.5%);
    background-blend-mode: overlay;
    mix-blend-mode: normal;
  }

}
:root {
  --text-light: theme(colors.gray.50);
  --text-dark: theme(colors.gray.900);
}

.dark {
  --text-primary: theme(colors.gray.50);
  --text-secondary: theme(colors.gray.400);
}
