$spacing: (
  '0': 0px,
  'px': 1px,
  '0.5': 0.125rem,
  '1': 0.25rem,
  '1.5': 0.375rem,
  '2': 0.5rem,
  '2.5': 0.625rem,
  '3': 0.75rem,
  '3.5': 0.875rem,
  '4': 1rem,
  '5': 1.25rem,
  '6': 1.5rem,
  '7': 1.75rem,
  '8': 2rem,
  '9': 2.25rem,
  '10': 2.5rem,
  '11': 2.75rem,
  '12': 3rem,
  '14': 3.5rem,
  '16': 4rem,
  '20': 5rem,
  '24': 6rem,
  '28': 7rem,
  '32': 8rem,
  '36': 9rem,
  '40': 10rem,
  '44': 11rem,
  '48': 12rem,
  '52': 13rem,
  '56': 14rem,
  '60': 15rem,
  '64': 16rem,
  '72': 18rem,
  '80': 20rem,
  '96': 24rem,
);

$colors: (
  surface: (
    50: #E8E5EB,
    100: #D1CBD7,
    200: #A699B2,
    300: #786788,
    400: #4A4054,
    500: #1D1921,
    600: #17141A,
    700: #120F14,
    800: #0D0B0F,
    900: #050406,
  ),
  yellow: (
    50: #fefaf0,
    100: #fef4dd,
    200: #fdeaba,
    300: #fbe19d,
    400: #fad67a,
    500: #f9cb58,
    600: #f7b818,
    700: #c58f07,
    800: #805d05,
    900: #402f02,
  ),
);

$text-sizes: (
  'xs': (0.75rem, 1rem),
  'sm': (0.875rem, 1.25rem),
  'base': (1rem, 1.5rem),
  'lg': (1.125rem, 1.75rem),
  'xl': (1.25rem, 1.75rem),
  '2xl': (1.5rem, 2rem),
  '3xl': (1.875rem, 2.25rem),
  '4xl': (2.25rem, 2.5rem),
  '5xl': (3rem, 1),
  '6xl': (3.75rem, 1),
  '7xl': (4.5rem, 1),
  '8xl': (6rem, 1),
  '9xl': (8rem, 1),
);
