# Dependencies
node_modules

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Temporary Files
.temp
.tmp
.cache

# Generated Outputs
dist
.next
.turbo

# Secrets Sssshhh
.env
.env.*
