.layout {
  position: relative;
  min-height: 100vh;

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 10;
      background: linear-gradient(to top, rgb(12 12 13 / 100%), rgb(12 12 13 / 35%));
    }
  }

  &__content {
    position: relative;
  }
}
