.layout {
  min-height: 100vh;
  position: relative;

  &__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to top, rgba(12, 12, 13, 1), rgba(12, 12, 13, 0.15));
      z-index: 10;
    }
  }

  &__content {
    position: relative;
    z-index: 15;
  }
}
