@use "../shared" as *;

body {
  overflow: overlay;
  color: var(--text-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

:root [data-theme="dark"] {
  @include define-color-hsl(--text-color, 0, 0%, 100%);
  @include define-color-hsl(--color-primary, 220, 89%, 56%);
  @include define-color-hsl(--surface-bg, 0, 0%, 10%);
}

:root [data-theme="light"] {
  @include define-color-hsl(--text-color, 0, 0%, 3%);
  @include define-color-hsl(--color-primary, 220, 89%, 56%);
  @include define-color-hsl(--surface-bg, 0, 0%, 75%);
}
