.header {
  position: sticky;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgb(24 24 27);
  background-color: rgb(12 12 13 / 80%);
  font-size: 0.875rem;
  backdrop-filter: saturate(180%) blur(5px);

  &__container {
    @include breakpoint("sm") {
      padding-right: var(--space-md);
      padding-left: 1.5rem;
    }

    @include breakpoint("lg") {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    position: relative;
    display: flex;
    align-items: center;
    max-width: 80rem;
    margin: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__start,
  &__center,
  &__end {
    display: flex;
    flex: 1 1;
    gap: 0.5rem;
    align-items: center;
  }

  &__start {
    justify-content: flex-start;
  }

  &__center {
    justify-content: center;

    ul {
      display: flex;
      list-style: none;

      li + li {
        margin-left: 0.5rem;
      }
    }
  }

  &__end {
    justify-content: flex-end;
  }
}

.action {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: rgb(161 161 170);

  &:hover {
    color: rgb(228 228 231);
  }
}
