.hero {
  padding-top: 5rem;
  padding-bottom: 5rem;

  h1 {
    font-weight: 800;
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: -0.025em;
    text-align: center;

    @include breakpoint("sm") {
      font-size: 3rem;
      line-height: 1;
    }

    @include breakpoint("lg") {
      text-align: left;
      font-size: 3.75rem;
      line-height: 1;
    }
  }

  p {
    max-width: 48rem;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb(113, 113, 122);
    text-align: center;

    @include breakpoint("lg") {
      text-align: left;
    }
  }
}
