*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --text-on-surface-dark: rgb(246, 246, 246);
  --surface-dark: #1E1A1D;
}

html, body, #__next {
  height: 100%;
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  scrollbar-gutter: stable;
  font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
  
  &.dark {
    color: var(--text-on-surface-dark);
    // color: rgb(241, 241, 241);
    background-color: rgb(12, 12, 13);
  }
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

blockquote,dd,dl,figure,h1,h2,h3,h4,h5,h6,hr,p,pre{
  margin:0
}

h1,h2,h3,h4,h5,h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: inherit;
}

// Remove animations and transitions for people that prefer not to see them
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
